<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="default" type="System.Net.Configuration.SmtpSection" />
      <section name="mailings" type="System.Net.Configuration.SmtpSection" />
      <section name="partners" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <mailSettings>
    <default deliveryMethod="Network">
      <network host="smtp1.test.org" port="587" enableSsl="true"
             userName="test" password="test"/>
    </default>
    <mailings deliveryMethod="Network">
      <network host="smtp2.test.org" port="587" enableSsl="true"
             userName="test" password="test"/>
    </mailings>
    <partners deliveryMethod="Network">
      <network host="smtp3.test.org" port="587" enableSsl="true"
               userName="test" password="test"/>
    </partners>