@{
    ViewBag.Title = "O nas";
}
<html>
<body class="container" style="">

<div class="bs-callout" style="padding-top:120px; width: 80%; display: inline-block;">
<div class="well"><h4 style="font-family:Arial">Zajmujemy się profesjonalną obsługą samochodów osobowych i dostawczych do 3,5 t. wszystkich marek</h4></div>
<blockquote>
<h4 style="font-family:Calibri">
<img style="width: 220px" align="right" src="http://pngimg.com/upload/businessman_PNG6567.png" />   
<b>J</b>ako niezależna stacja obsługi oferujemy najtańszą w Krakowie obsługę pojazdów obejmującą przeglądy rejestracyjne, naprawy i wymianę materiałów eksploatacyjnych. Wszystkie stacje diagnostyczno-naprawcze wyposażone są w najnowocześniejszy sprzęt do przeprowadzania badań diagnostycznych i obowiązkowych przeglądów rejestracyjnych. W ramach obsługi flot samochodowych bezpłatnie prowadzimy książki serwisowe samochodów pilnując terminów wszystkich niezbędnych czynności obsługowych (wymiany oleju, przeglądy rejestracyjne, ubezpieczenia itp.).

Obsługę prowadzimy obecnie w trzech stacjach serwisowych w Krakowie, tj. <br /><br />

<ul>
<li> przy ul. Dobrego Pasterza 116,<br /></li>
<li> ul. Lea 122A <br /></li>
<li> ul. Legnickiej 5 (przy Placu Imbramowskim).</li></ul>  
</h4>
</blockquote>
</div>

</body>
</html>