@{
    ViewBag.Title = "Inter-Warsztat";
}

<div style="text-align: center; padding-top: 10px">


@*    <img style="width: 150px" src="http://s15.postimg.org/yc92cwzaj/r_UW29173_RED_RACER_GUY.jpg" />
    <img src="http://s13.postimg.org/jifhgig8n/log2o.png" />
    <img style="width: 150px" src="http://s9.postimg.org/6pmx1g19r/r_UW29173_RED_RACER_GUY2.jpg" />*@

<img src="http://s13.postimg.org/jifhgig8n/log2o.png" />


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pierwszy raz?</h2>
        <p>
            Cieszymy się że trafiłeś do naszego warsztatu! Kliknij poniżej, aby przeglądnąć naszą 
            ofertę. W razie problemów zadzwoń na naszą infolinię, a nasz konsultant na pewno pomoże
            rozwiać Twoje wątpliwości.
        </p>
        <p><a class="btn btn-default" href="/Offer/OfferList">Oferta &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Przejdź do działania!</h2>
        <p>
            Kliknij poniżej aby przejść na stronę logowania. Po zalogowaniu uzyskasz dostęp do 
        historii swoich napraw, stan aktualnych, oraz NOWOŚĆ! - możliwość akceptacji naprawy przed
        jej dokonaniem!
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Zaloguj mnie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Więcej o nas</h2>
        <p>
            Zapoznaj się z naszą historią, przeczytaj nasze opinie i znajdź nas na mapie. 
        Daj sobie szansę na najlepszą obsługę. Satysfakcja gwarantowana!
        </p>
        <p><a class="btn btn-default" href="/Home/About">O nas &raquo;</a></p>
    </div>
</div>
